<div
  class="grid-container"
  *ngIf="this.product">

  <div class="item-grid-container-1">

    <app-show-product-images
      [images]="this.product.images">
    </app-show-product-images>

    <app-show-technical-details
      [technicalDetails]="this.product.technical_details">
    </app-show-technical-details>

  </div>

  <div class="item-grid-container-2">

    <app-show-title-product
      [title]="this.product.title"
      [description]="this.product.description">
    </app-show-title-product>

    <app-show-starting-product-price
      [price]="this.product.price">
    </app-show-starting-product-price>

    <app-show-product-details
      [details]="this.product.details">
    </app-show-product-details>

    <app-select-product-color
      [colors]="this.product.colors">
    </app-select-product-color>

    <app-select-product-warranty
      [warranty]="this.product.warranty">
    </app-select-product-warranty>

    <app-select-product-features
      [features]="this.product.features">
    </app-select-product-features>

    <app-show-product-specifications
      [specifications]="this.product.specs">
    </app-show-product-specifications>

  </div>

  <div>
    <app-price-product-footer
      [price]="this.product.price">
    </app-price-product-footer>
  </div>

</div>

<!--
<pre>{{this.product|json}}</pre>
-->
