<div *ngIf="this.product">
  <app-show-title-product
    [title]="this.product.title"
    [description]="this.product.description">
  </app-show-title-product>

  <app-select-product-color
    [colors]="this.product.colors">
  </app-select-product-color>

  <app-select-product-features
    [features]="this.product.features">
  </app-select-product-features>

  <app-select-product-warranty
    [warranty]="this.product.warranty">
  </app-select-product-warranty>

  <app-show-product-details
    [details]="this.product.details">
  </app-show-product-details>

  <app-show-product-images
    [images]="this.product.images">
  </app-show-product-images>

  <app-show-starting-product-price
    [price]="this.product.price">
  </app-show-starting-product-price>

  <app-show-technical-details
    [technicalDetails]="this.product.technical_details">
  </app-show-technical-details>

  <app-price-product-footer
    [price]="this.product.price"
  >
  </app-price-product-footer>

  <app-show-product-specifications
    [specifications]="this.product.specs">
  </app-show-product-specifications>
</div>

<!--
<pre>{{this.product|json}}</pre>
-->
